/* styles.css */

.one {
    border: solid;
    border-color: lightcoral;
    border-left-width: 20px;
    border-right-width: 20px;
    height: auto;
    width: 300px;
}

.title {
    color: #31897e;
    background-color: white;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    font-family: sans-serif;
    border: solid;
    border-width: 11px;
}

.subtitle {
    color: #31897e;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-style: solid;
    border-width: 2px;
}

.background {
    background-color: #F0EAD6;
}

.ingredients, .steps {
    color: #31897e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: dashed;
    background-color: white;
}

.recipes {
    list-style-type: square;
    color: #41B3A3;
    background-color: #E27D60;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}

a:link, a:visited {
    background-color: #41B3A3;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: #36998c;
  }