/* styles.css */

.one {
    height: auto;
    width: 200px;
}

.title {
    color: #41B3A3;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    font-family: sans-serif;
}

.subtitle {
    color: #41B3A3;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    background-color: #F0EAD6;
}

.ingredients {
    color: #E27D60;
    background-color: #41B3A3;
}

.steps {
    color: #C38D9E;
    background-color: #41B3A3;
}

.recipes {
    list-style-type: square;
    color: #41B3A3;
    background-color: #E27D60;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}